@import "src/styles/variables";

@mixin scrollHidden() {
  &::-webkit-scrollbar {
    width: 0;
  }
}

@mixin scrollSmall() {
  &::-webkit-scrollbar {
    width: 4px !important;
    height: 8px !important;
  }

  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: $normal-4

  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $neutral5;
  }
}

@mixin limit-text-rows($lines-number:3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines-number;
  -webkit-box-orient: vertical;
}

