// ===COLORS===

$white: #ffffff;
$black: #000000;
$black6: rgba(0, 0, 0, 0.06);
$black25: rgba(0, 0, 0, 0.25);
$black45: rgba(0, 0, 0, 0.45);
$black65: rgba(0, 0, 0, 0.65);
$black75: rgba(0, 0, 0, 0.75);
$black85: rgba(0, 0, 0, 0.85);

$neutral0: #F8F8F8;
$neutral1: #E9E9E9;
$neutral2: #C8C6C5;
$neutral3: #848484;
$neutral4: #605F5E;
$neutral5: #1E1E1E;
$neutral7: #898990;

$red-1: #fff1f0;
$red-2: #f6c6c8;
$red-3: #f69fa1;
$red-4: #f6767a;
$red-5: #ee4c5c;
$red-6: #e5263e;
$red-7: #c31834;
$red-8: #a00d2c;
$red-9: #7d0727;
$red-10: #5b0724;

$orange-1: #fff7e6;
$orange-2: #f6dfbc;
$orange-3: #f6ce95;
$orange-4: #f6ba6f;
$orange-5: #ee9f4f;
$orange-6: #e98529;
$orange-7: #c7681c;
$orange-8: #a44d15;
$orange-9: #823a15;
$orange-10: #5f2815;

$green-1: #f6ffed;
$green-2: #d2eebf;
$green-3: #b2e393;
$green-4: #91d76a;
$green-5: #70c44c;
$green-6: #52ad3d;
$green-7: #3b9621;
$green-8: #287319;
$green-9: #195115;
$green-10: #102e15;

$normal-1: #ffffff;
$normal-2: #f7f6f9;
$normal-3: #f2f1f4;
$normal-4: #edecef;
$normal-5: #dddbe2;
$normal-6: #b9b9c0;
$normal-7: #898990;
$normal-8: #595862;
$normal-9: #44434d;
$normal-10: #292832;
$normal-11: #23222c;
$normal-12: #191822;
$normal-13: #080715;

$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 24px;
$space-6: 32px;
$space-7: 48px;
$space-8: 64px;
$space-9: 80px;
$space-10: 96px;
$space-11: 120px;


