@import "src/styles/mixins";
@import "src/styles/variables";

.not-auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $blue1;
  & .ant-layout-content {
    width: 100%;
  }
  & .layout-content {
    display: flex;
    padding: 32px;
    min-height: 100vh;
    overflow-y: hidden;
    width: 100%;
    align-items: center;
    justify-content: center;
    &__light {
      background: #ffffff;
    }
    &__dark {
      background: #E9E9E9;
    }
  }
}
