@import "src/styles/variables";

.layout-header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 64px;
  background: $blue1;
  padding: 0 16px 0 8px;
  &__light {
    background: #FFFFFF;
  }
  &__dark {
    background: $blue1;
  }
}